@model Pixgram_V1.ViewModels.ImageUploadViewModel
@{
    ViewData["Title"] = "Upload";
}

<div class="text-center">
    <h1 class="display-4">Upload</h1>
</div>



<div class="container" style="margin-left:100px; margin-top:100px;">

    <div class="row">
        <div class="col-lg-6">
            <form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="FileUpload">
                <div class="form-group">
                    <label for="images">Upload your image or images</label><br />
                    <input type="file" name="images" id="images" multiple />
                </div>
                <select asp-items="Model.Categories" asp-for="CategoryId"></select>
                <button type="submit" class="btn btn-danger">Upload</button>
            </form>
        </div>
        <div class="col-lg-6">
            <form method="post" asp-controller="FileUpload" asp-action="CreateCategory">
                <br />

                <h4>No category that fits your upload? Create your own category below.</h4>

                <input type="text" asp-for="CategoryName" placeholder="Your categoryname..." required/>

                <button type="submit" class="btn btn-danger">Create category</button>

            </form>
        </div>
    </div>
</div>

   
           
        
        
           
    

