@model Pixgram_V1.ViewModels.ImageUploadViewModel
@{
    ViewData["Title"] = "Upload";
}

<div class="text-center">
    <h1 class="display-4">Upload</h1>
</div>



<div class="container" style="margin-left:400px; margin-top:200px;">


    <form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="FileUpload">
        @*<div class="form-group">
            <div class="col-md-10">
                <h4>Upload one or more files below!</h4>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>*@


        <div class="col-lg-6">
            <div class="form-group">
                <label for="images">Ladda upp bild:</label><br />
                <input type="file" name="images" id="images" multiple />
            </div>
        </div>

        <select asp-items="Model.Categories" asp-for="CategoryId"></select>

        @*<div class="col-lg-3">
            <b> <label asp-for="Image.FileCategory">Modell</label></b>
            <input class="form-control" asp-for="Image.FileCategory" />
        </div>*@

        <button type="submit" class="btn btn-danger">Ladda upp</button>

    </form>


</div>
